{% extends 'main/main.html' %}

{% block content %}
    <div class="row">
      <h1>About Us</h1>
      <div class="col">
        <p>
            We live in the world of unprocessed data. In order to bring some useful conclusions to the table
            it is necessary to process the data. But why? Data allows organizations to more effectively
            determine the cause of problems and to visualize relationships
            between what is happening in different locations, departments, and systems.
        </p>
        <p>
            In trading strategy, news analysis refers to the measurement of the various qualitative and
            quantitative attributes of textual (unstructured data) news stories. Some of these attributes are:
            <strong>sentiment, relevance, and novelty</strong>.
            Expressing news stories as numbers and metadata permits the manipulation of everyday information in
            a mathematical and statistical way.
        </p>
      </div>
    </div>
{% endblock %}
